@import url('https://fonts.googleapis.com/css?family=Abril+Fatface&display=swap');
h1, h2, p {
    font-family: 'Abril Fatface', cursive;
}
* {
    background-color: cyan;  
    font-size: 40px
}

body {
    background-image: url("BTS pic.jpg");
}

h1, H2, P {
    color: rgb(247, 210, 0);
    background-color: rgb(124, 123, 123, 0.4)
}

* {
    box-sizing: border-box;
    padding:30px
}
body {
    background-color: cyan
}
.center {
    text-align: center;
}
h1, h2, p {
    font-size: 33px
}
